@main-color: #dddbb9;
@color-white: #ffffff;
@color-black: #000000;
@side: top;
@second-color: #BBB88A;
@light-color: #FFFEEA;

body {
  font-size: 16px;
  line-height: 150%;
}

.cover {
  background-size: cover;
}

.main {
  background-color: @main-color;
}

.second {
  background-color: @second-color;
}

.pd-side(@top,@right,@bottom,@left) {
  padding: @top @right @bottom @left;
}

.bor-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.responsive(@maxWidth;@rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}

.col-xs-12 {
  .responsive(425px, { .pd-side(0, 7px, 0, 7px); })
}

.panel {
  border: 0;
}

.pan-heading {
  .second;
  border-color: @second-color;
}

.navbar {
  min-height: 60px;
  background-color: @light-color;
  border: 0;

}

.cur-mixin {
  display: block;
  padding: 15px 10px 15px 10px;
  background-color: @second-color;
  color: @color-black;
}

.navbar-nav {
  li {
    padding: 0;
    &.current {
      a {
        .cur-mixin;
        &:hover,
        &:focus,
        &:active,
        &:visited {
          .cur-mixin
        }

      }
    }
  }
}

.navbar-brand {
  vertical-align: middle;
  h1 {
    font-size: 32px;
    margin-top: 0;
    color: @color-black;
    .pd-side(10px, 5px, 10px, 5px);
    .responsive(767px, { .pd-side(0, 0, 0, 0); font-size: 24px; });

    .glyphicon-euro {
      font-weight: bolder;
      font-size: 35px;
      animation: rotateY 2s linear infinite;
      .responsive(767px, { font-size: 28px; })
    }
  }
}

.collapse.navbar-collapse {
  border-color: transparent;
}

.navbar-collapse {
  li {
    .pd-side(15px, 5px, 10px, 5px);
  }

}

.page_wrapper {
  .main;
  border-radius: 10px;
  width: 100%;
  .pd-side(25px, 35px, 35px, 35px);
  -webkit-box-shadow: 3px 3px 1px 1px lightgrey;
  -moz-box-shadow: 33px 3px 1px 1px lightgrey;
  box-shadow: 3px 3px 1px 1px lightgrey;

  .responsive(425px, { .pd-side(25px, 8px, 35px, 8px); })

}

.generate-pd-bottom(@n, @i: 0) when (@i =< @n) {
  .pd-bottom-@{i} {
    padding-bottom: (@i * 10px);
  }
  .generate-pd-bottom(@n, (@i + 1));
}

.generate-pd-bottom(5);

.generate-mar-bottom(@n, @i: 0) when (@i =< @n) {
  .mar-bottom-@{i} {
    margin-bottom: (@i * 10px);
  }
  .generate-mar-bottom(@n, (@i + 1));
}

.generate-mar-bottom(5);

.page-header {
  border-bottom-color: @color-black;
  .responsive(560px, { text-align: center; margin-top: 20px; })
}

.text-bold {
  font-weight: bold;
}

.right-btn {
  position: absolute;
  top: 25px;
  right: 20px;
}

.relative {
  position: relative;
}

.td-mixin {
  .pd-side(5px, 10px, 10px, 8px);
  text-align: center;
  vertical-align: middle;
  font-size: 16px;

}

.mar-left {
  margin-left: 30px;
}

.table-div {
  display: block;
  width: 100%;
  .responsive(560px, { h2:nth-of-type(1) {
    font-size: 1.7em;
  } })
}

.my-table {
  margin-left: 15px;
  .pd-side(5px, 8px, 5px, 28px);

  thead {
    tr {
      border: 0;
    }
  }

  th {
    .td-mixin;
    background-color: darken(@main-color, 10%);
  }

  tr {
    border-bottom: 1px solid black;
  }

  td {
    .td-mixin;

  }

  .responsive(535px, { .pd-side(5px, 2px, 5px, 2px); margin-left: 0; thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  } td:nth-of-type(1) {
      width: 100%;
      display: block;
      position: relative;
      margin-top: 8px;
      background-color: @second-color;
    } td:nth-of-type(2) {
        width: 50%;
        display: inline-block;
        position: relative;
        &:before {
          content: 'Sprzedaż';
          font-weight: bold;
        }
      } td:nth-of-type(3) {
          width: 50%;
          display: inline-block;
          position: relative;
          &:before {
            content: 'Kupno';
            font-weight: bold;
          }
        } td:nth-of-type(4) {
            width: 50%;
            display: inline-block;
            position: relative;
          } td:nth-of-type(5) {
              width: 50%;
              display: inline-block;
              position: relative;
            } })
}

.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.app-modal-window .modal-dialog {
  width: 350px;
}

.app-modal-window .modal-body {
  height: 3em;
}

.input-modal {
  margin-top: -5px;
  width: 100%;
}

@keyframes rotateY {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
