@import "../bower_components/bootstrap/less/bootstrap";

@main-color: #dddbb9;
@color-white: #ffffff;
@color-black: #000000;
@side: top;
@second-color: #BBB88A;
@light-color: #FFFEEA;

body {
  font-size: 16px;
  line-height: 150%;
}

.cover {
  background-size: cover;
}

.main {
  background-color: @main-color;
}

.second {
  background-color: @second-color;
}

.panel {
  border:0;
}
.pan-heading {
  .second;
  border-color: @second-color;
}

.navbar {
  min-height: 60px;
  background-color: @light-color;
  border: 0;

}

.cur-mixin {
  display: block;
  padding: 15px 10px 15px 10px;
  background-color: @second-color;
  color: @color-black;
}

.navbar-nav{
    li {
      padding: 0;
      &.current {
        a {
          .cur-mixin;
          &:hover,
          &:focus,
          &:active,
          &:visited {
            .cur-mixin
          }

        }
      }
    }
  }


.navbar-brand {
  vertical-align: middle;
  h1 {
    font-size: 32px;
    margin-top: 0;
    color: @color-black;
    .pd-side(10px,5px,10px,5px);

    .glyphicon-euro {
      font-weight: bolder;
      font-size: 35px;
      animation: rotateY 2s linear infinite;
    }
  }
}

.navbar-collapse {
  li {
    .pd-side(15px,5px,10px,5px);
  }
}

.pd-side(@top,@right,@bottom,@left){
  padding: @top @right @bottom @left;
}

.bor-radius(@radius){
  -webkit-border-radius: @radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}

.page_wrapper {
  .main;
  border-radius: 10px;
  width: 100%;
  .pd-side(25px,35px,35px,35px);
  -webkit-box-shadow: 3px 3px 1px 1px lightgrey;
  -moz-box-shadow: 33px 3px 1px 1px lightgrey;
  box-shadow: 3px 3px 1px 1px lightgrey;

}



.generate-pd-bottom(@n, @i: 0) when (@i =< @n) {
  .pd-bottom-@{i} {
    padding-bottom: (@i * 10px);
  }
  .generate-pd-bottom(@n, (@i + 1));
}

.generate-pd-bottom(5);

.generate-mar-bottom(@n, @i: 0) when (@i =< @n) {
  .mar-bottom-@{i} {
    margin-bottom: (@i * 10px);
  }
  .generate-mar-bottom(@n, (@i + 1));
}

.generate-mar-bottom(5);

.page-header {
  border-bottom-color: @color-black;
}

.text-bold {
  font-weight: bold;
}

.right-btn {
  position: absolute;
  top: 25px;
  right: 20px;
}

.relative {
  position: relative;
}

.td-mixin {
  .pd-side(5px,8px,5px,8px);
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.my-table {
  margin-left: 15px;
  .pd-side(5px,8px,5px,28px);

  th {
    .td-mixin
  }

  td {
    .td-mixin;
  }
}

@keyframes rotateY {
  100% {
    transform: rotate3d(0,1,0,360deg);
  }
}
