@import "../bower_components/bootstrap/less/bootstrap";

@main-color: #dddbb9;

div {
  padding-top: 15px;
}

.page_wrapper {
  margin-left: 15px;
  margin-right: 15px;
}


.testing {
  width: percentage(5/7);
}

.cover {
  background-size: cover;
}

.main {
  background-color: @main-color;

}