<section>
    <div class="row page_wrapper">
        <h2>Kup {{vm.showTitle()}}</h2>
        <h3>PLN: {{vm.pln | number : 2}}</h3>

        <label for="buy">Podaj ilośc: </label>
        <input type="text" ng-model="value" id="buy" class="form-control">

        <div>
            <ul ng-repeat="t in vm.errorsArray">
                <li>{{t}}</li>
            </ul>
        </div>

        <button class="btn btn-success" ng-click="vm.buy()">Kup</button>
        <h4>{{vm.get}}</h4>
    </div>
</section>