<section>
    <div class="row page_wrapper">
        <h2>Skup {{vm.showTitle()}}</h2>
        <h3>{{vm.rate.code}}: {{vm.get}}</h3>
        <h3>PLN: {{vm.pln | number: 2}}</h3>
        <h3>Kurs kupna: {{vm.rate.rates[0].bid}}</h3>

        <label for="buy">Podaj ilośc: </label>
        <input type="text" ng-model="value" id="buy" class="form-control">

        <div ng-hide="divHide">
            {{vm.message}}
        </div>

        <button class="btn btn-success" ng-click="vm.buy()">Sprzedaj</button>
        <button class="btn btn-info" ng-click="vm.back()">Powrót</button>
    </div>
</section>