<section>
    <div class="row page_wrapper">
        <div>
            <h2>Informacje</h2>
            <p>Aplikacja ma na celu zasymulowanie wymiany walut</p>

            <p>Kurs kupna waluty to kurs, po którym bank czy kantor wymienia klientom walutę obcą na złote.</p>
            <p>Kurs kupna waluty a kurs sprzedaży</p>
            <p>
                Kurs kupna waluty jest zawsze niższy od kursu sprzedaży. W innym przypadku bank czy kantor ponosiłby
                stratę na wymianie walut, gdyż kupowałby walutę drożej a sprzedawałby taniej.
            </p>

            <p>Źródło: <a href="http://www.comperia.pl/kurs-kupna-waluty.html" target="_blank">http://www.comperia.pl/kurs-kupna-waluty.html</a>
            </p>
        </div>
    </div>
</section>