<section id="main">
    <div class="row page_wrapper">
        <div class="relative"><h2>Mój portfel</h2><button ng-click="vm.getCurrencies()">Get currencies</button>
            Currency: {{vm.rates.rates[0].bid}}
            <h3><span class="text-bold">PLN:</span> {{vm.pln | number:2}} zł</h3>

            <div class="right-btn">
                <button ng-click="vm.reset()" class="btn btn-danger">Reset</button>
            </div>
        </div>
        <div>

            <label for="buy_eur">Buy euro</label>
            <input type="text" name="buy_eur" ng-model="value" id="buy_eur">
            <table class="my-table">

                <tr>
                    <td>EUR</td>
                    <td><a href="#/buy/Eur"><button class="btn btn-primary"><p>{{vm.EUR_BUY}} zł</p> <p>Kup</p></button></a></td>
                    <td><a href="#/sell/Eur"><button class="btn btn-info" ng-hide="vm.checkEur()"><p>{{vm.EUR_SEL}} zł</p><p>Sprzedaj</p></button> </a></td>
                </tr>
                <tr>
                    <td>GBP</td>
                    <td><a href="#/buy/Gbp"><button class="btn btn-primary"><p>{{vm.EUR_BUY}} zł</p> <p>Kup</p></button></a></td>
                    <td><a href="#/sell/Eur"><button class="btn btn-info" ng-hide="vm.checkEur()"><p>{{vm.EUR_SEL}} zł</p><p>Sprzedaj</p></button> </a></td>
                </tr>
            </table>


        </div>

    </div>
</section>