<section id="main">

    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="page_wrapper pd-bottom-5">
                <div class="page-header">
                    <h1>Kantor</h1>
                </div>
                <div class="relative pd-bottom-3">

                    <div class="panel">
                        <div class="panel-heading pan-heading"><h2>Mój portfel</h2></div>

                        <div class="panel-body">
                            <div ng-repeat="(key, value) in vm.wallet">
                                <h4 ng-show="value > 0 ? true : false"><span class="text-bold">{{key}}</span>: {{value | number:2}} </h4>
                            </div>
                        </div>
                    </div>
                    <div class="right-btn">
                        <button ng-click="vm.reset()" class="btn btn-danger">Reset</button>
                    </div>
                </div>
                <div class="table-div">
                    <h2>Kantor - kursy z dnia: <p>{{vm.rates[0].data.rates[0].effectiveDate}}</p></h2>
                    <div>
                        <table class="my-table">
                            <thead><tr>
                                <th>Waluta</th>
                                <th>Sprzedaż</th>
                                <th>Kupno</th>
                            </tr></thead>
                            <tr ng-repeat="rate in vm.rates track by $index">
                                <td><p class="text-bold">{{rate.data.code}} </p></td>
                                <td><p>{{rate.data.rates[0].ask}} PLN</p></td>
                                <td><p>{{rate.data.rates[0].bid}} PLN</p></td>
                                <td><a ng-href="#/sell/{{rate.data.code}}">
                                    <button class="btn btn-success"><p>Sprzedaż</p></button>
                                </a></td>
                                <td><a ng-href="#/buy/{{rate.data.code}}">
                                    <button class="btn btn-primary" ng-hide="vm.check(rate.data.code)"><p>Kupno</p></button>
                                </a></td>
                            </tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

