<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <h1><span class="glyphicon glyphicon-euro"></span> Trener Cinkciarza</h1>
            </a>
        </div>

        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li active-link="current"><a href="#/main" ng-click="navCollapsed = !navCollapsed">Home <span class="sr-only"></span> </a></li>
                <li active-link="current"><a href="#/info" ng-click="navCollapsed = !navCollapsed">Information</a></li>
            </ul>
        </div>
    </div>
</nav>
