<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse"
                            data-target="#bs-nav-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/"><h1><span class="glyphicon glyphicon-euro"></span> Trener Cinkciarza</h1></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="collapse navbar-collapse" id="bs-nav-collapse">
                    <ul class="nav navbar-nav">
                        <li active-link="active"><a href="#/">Home <span class="sr-only"></span> </a> </li>
                        <li active-link="active"><a href="#/second">Second</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>