<section>
    <div class="row page_wrapper">
        <h2>Sprzedaż {{vm.showTitle()}}</h2>

        <div class="panel">
            <div class="panel-heading pan-heading"><h3 class="panel-title">Twój portfel</h3></div>

            <div class="panel-body">
                <h3>PLN: {{vm.pln | number : 2}}</h3>
                <h3>{{vm.rate.code}}: {{vm.get}}</h3></div>
        </div>
        <h3>Kurs sprzedaży: {{vm.rate.rates[0].ask}}</h3>

        <div class="form-horizontal"><div class="form-group">
            <label for="buy" class="control-label col-md-3">Podaj ilośc: </label>
            <div class="col-md-5"><input type="text" ng-model="value" id="buy" class="form-control"></div>
        </div></div>

        <div ng-hide="vm.divHide">

            <div class="alert alert-danger">{{vm.message}}</div>
        </div>

        <button class="btn btn-success" ng-click="vm.sell()">Kup</button>
        &nbsp;&nbsp;
        <button class="btn btn-info" ng-click="vm.back()">Powrót</button>
    </div>
</section>