<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Podaj ilość początkową PLN</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div ng-hide="vm.divHide" class="allert alert-danger mar-bottom-2 text-center">
                {{vm.message}}
            </div>
            <input type="number" ng-model="vm.value">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="vm.disabled" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>
</div>